
<div class="row"> 
	<div class="col-md-12">
		<input type="text" ng-model='criterioDeBusca' class="form-control" placeholder="O que você está buscando ? ">
		<table class="table" ng-hide="contatos.length == 0">
			<thead>
				<th>
				</th>
				<th>
					<a href="" ng-click="ordenarPor('nome')">Nome</a>
				</th>
				<th>
					<a href="" ng-click="ordenarPor('telefone')">Telefone</a>
				</th>
				<th>
					Operadora
				</th>
			</thead>
			<tbody>
				<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterio:direcao">
					<td><input type="checkbox" ng-model="contato.selecionado"></td>
					<td>{{contato.nome | name}}</td>
					<td>{{contato.telefone}}</td>
					<td>{{contato.operadora.nome}}</td>
					<td>{{contato.data | date:'dd/MM/yyyy'}}</td>
				</tr>
			</tbody>
		</table>
		<a class="btn btn-primary btn-block" href="#/novoContato"> Novo Contato </a>
		<button type="button" class="btn btn-danger btn-block" ng-click='apagarContatos(contatos)' ng-hide="!isContatoSelecionado(contatos)">
		Apagar Contatos
	</button>
	</div>
</div>
